<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/airport.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="homepage">
    <ion-pane>
      <ion-header-bar class="bar-header wx-header1">
        <div class="title">Travel Genie</div>
      </ion-header-bar>
      <ion-header-bar class="bar-subheader item-input-inset wx-header2">
        <div class="title">Travel planning made easy</div>
      </ion-header-bar>
      <ion-header-bar class="bar-subheader item-input-inset  wx-header2">
        <label class="item item-input-wrapper destination">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="text" placeholder="Where are you going?" ng-change="search()" ng-model="data.search">
        </label>
      </ion-header-bar>
      <ion-content class="content">
        <div class="row">
          <div class="col col-50">
            <div class="list">
              <li class="item" ng-click="add()" ng-repeat="airline in data.airlines">{{airline.City}} ({{airline.Name}})</li>
            </div>
          </div>
          <div class="col col-50">
            <div class="list">
              <li class="item" ng-click="remove()" ng-repeat="airline in data.selected">{{airline.City}} ({{airline.Name}})</li>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-pane>
    <div class="bar bar-footer">
      <div class="title">{{data.footer}}</div>
      <button class="button button-clear ion-chevron-right icon-right">next</button>
    </div>
  </body>
</html>
